body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, arial;
}

#MenuSuperior {
    background-color: black;
    width: 100%;
    height: auto;

    padding: 20px;

    display: flex;
    align-items: center;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    position: fixed;
    z-index: 100;
}

#gdIcon {
    width: 120px;
    object-fit: contain;
    margin-right: 40px;
}

.menuSuperiorItem {
    color: white;
    margin: 0 40px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.menuSuperiorItem:hover {
    transform: scale(1.05);
}

.menuSuperiorItem:active {
    transform: scale(0.95);
}

#conteudo {
    padding-top: 90px;
}

#esquerda {
    /* background-color: blue; */
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#esquerda #ultima {
    width: 680px;
    height: 370px;
    border-radius: 10px;
    background-color: black;
}

#direita {
    /* background-color: blueviolet; */
    width: 380px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#direita #segunda,
#direita #terceira {
    background-color: black;
    width: 350px;
    height: 180px;
    border-radius: 10px;
    margin: 5px 0px;
}

#principaisNoticias {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.principalNoticia {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.principalNoticia img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.principalNoticia h1,
.principalNoticia h4 {
    margin: 10px;
    position: absolute;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    width: 20%;
}



#ultima h1 {
    width: 40%;
}

/* .principalNoticia:hover {
    transform: scale(1.01);
} */

#conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,
p,
h4 {
    margin: 0;
}

#noticias {
    width: 1050px;
}

.noticia {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.noticia:hover {
    transform: scale(1.010);
    cursor: pointer;
}

.noticia:active {
    transform: scale(0.95);
}

.noticiaImg {
    background-color: black;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.noticiaImg img {
    object-fit: cover;
    height: 100%;
}

#noticiaTexto {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

#noticiaTexto h4 {
    margin-top: 10px;
}

#menuInferior {
    width: 100%;
    height: auto;
    background-color: black;
    margin-top: 20px;
    border-top: 5px solid #E00000;
    padding-top: 20px;
    overflow: hidden;
}

#icons {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

#icons img {
    width: 100px;
    margin: 15px;
}

input {
    border: none;
    border-radius: 20px;
    padding: 6px;
    padding-left: 10px;
    width: 300px;
    margin-left: 40px;
}

#proximaPagina {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#proximaPagina input {
    width: 40px;
    background-color: black;
    font-weight: bold;
    color: white;
    margin: 0px 10px;
}